.seller-search-post-wrapper {
  width: 100%;
  height: calc(100% - 71px);
  max-height: calc(100% - 71px);
  /* height: 800px; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.croll-y-able {
  overflow-y: scroll;
}

.seller-search-create {
  /* box-sizing: border-box; */
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  margin-top: 30px;
}

.seller-search-post-search-bar-container {
  background-color: white;
  width: 30%;
  padding: 7px 14px 7px 7px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #0C67CE;
  /* margin-right: auto; */
  /* box-shadow: 0px 2px 6px 2px rgba(182, 182, 182, 0.384); */
}

.seller-search-post-search-bar-container .icon {
  color: #0C67CE;
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.seller-search-post-search-bar-container input {
  background-color: white;
  font-size: 14px;
  font-family: Roboto;
  margin-left: 12px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}

.seller-search-post-search-bar-container input:focus {
  outline: none;
}

.seller-search-post-create-post {
  width: max-content;
  padding: 4px 12px;
  margin-left: 20%;
  /* margin-top: 38px; */
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* margin-left: auto;
  margin-right: auto; */
  text-decoration: none;
  text-decoration-color: none;
  background-color: #FFA114;
}

.seller-search-post-create-post:hover {
  background-color: #FFA114;
  text-decoration: none;
  text-decoration-color: none;
}

.seller-search-post-create-post span {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-decoration-color: none;
}

.seller-search-list-search-result {
  background-color: #F0F2F5;
  flex: 1;
}

.seller-search-list-search-container {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  /* background-color: white; */
}

.seller-search-list-search-container .box {
  width: 830px;
  height: auto;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgba(3, 44, 71, 0.18);
  display: flex;
  margin: 12px auto;
  align-items: center;
}

div.seller-search-image-container {
  border-radius: 4px;
  background-color: gray;
  width: 224px;
  height: 172px;
  background-size: 224px 172px;
  /* padding-top: 12px;
  padding-bottom: 12px; */
  object-fit: cover;
  background-repeat: no-repeat;
}

.seller-search-image-container>img {
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  margin-left: 12px;
}

.seller-search-list-search-container>.content-container {
  padding: 14px 12px 12px 12px;
  margin-left: 12px;
  /* margin: auto; */
  width: 550px;
  /* background-color: teal; */
}

.seller-search-list-search-container .title {
  color: #c12f25;
  text-indent: 20px;
  text-transform: uppercase;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 12px;
  text-rendering: optimizeLegibility;
}

.seller-search-list-search-container>div.price-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.seller-search-list-search-container .price {
  font-weight: bold;
  color: #2c2f36;
  font-size: 14px;
  margin-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.seller-search-list-search-container .area {
  font-weight: bold;
  color: #2c2f36;
  font-size: 14px;
  margin-right: 8px;
}

.seller-search-list-search-container .address {
  margin-top: 8px;
  font-size: 14px;
  color: black;
}

.seller-search-list-search-container .description {
  margin-top: 8px;
  font-size: 14px;
  height: 51px;
  color: #747c87;
  overflow: hidden;
}

.seller-search-list-search-container .other-info {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.seller-search-list-search-container .uptime {
  font-size: 14px;
  color: #747c87;
}

.seller-search-list-search-container .owner {
  font-size: 14px;
  color: black;
}

.seller-search-list-search-container .status-container {
  background-color: transparent;
  width: 160px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}

.seller-search-list-search-container .status-container>span {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.seller-search-list-search-container .censored {
  border-color: #249cd7;
}

.seller-search-list-search-container .censored>span {
  color: #249cd7;
}

.seller-search-list-search-container .non-censored {
  border-color: #919191;
}

.seller-search-list-search-container .non-censored>span {
  color: #919191;
}

.seller-search-list-search-container .sold-out {
  border-color: #05c19c;
}

.seller-search-list-search-container .sold-out>span {
  color: #05c19c;
}

.seller-title-tab-list {
  /* margin-left: 10%; */
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  /* text-transform: uppercase; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.seller-tab-container {
  /* box-shadow: 6px 6px 10px rgba(3, 44, 71, 0.18); */
  width: 100%;
  height: 40px;
  background-color: transparent;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  padding-left: 10%;
}

.seller-tab-item {
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
  /* float: left; */
  width: 12%;
  height: 100%;
  margin-right: 10px;
  background-color: transparent;
  /* border-radius: 7px; */
  border: 2px solid #FFF;
  /* border-top-left-radius: 32px;
  border-top-right-radius: 32px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.seller-tab-item:hover {
  /* background-color: rgba(199, 251, 255, 0.4); */
  /* background-color: transparent; */
  border-bottom: 2px solid rgb(12, 103, 206);
}

.seller-total-record {
  flex: 1;
  text-align: right;
  margin-right: 12%;
}

.seller-tab-container .inactive {
  /* background-color: #919191; */
  /* border: 3px solid #919191; */
}

.seller-tab-container .inactive span {
  /* color: #919191; */
}

.seller-tab-container .rejected {
  /* border: 3px solid #ea6863; */
}

.seller-tab-container .rejected span {
  /* color: #ea6863; */
}

.seller-tab-container .active {
  /* border: 3px solid #05c19c; */
}

.seller-tab-container .active span {
  /* color: #05c19c; */
}


/* assigned */

.seller-tab-container .inactive {
  /* background-color: #919191; */
}

.seller-tab-container .sold {
  /* border: 3px solid #249cd7; */
}

.seller-tab-container .sold span {
  /* color: #249cd7; */
}

.seller-tab-item span {
  font-size: 16px;
  /* font-weight: bolder; */
  /* text-transform: uppercase; */
}
