.drawer-btn-menu {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.drawer-btn-menu~.nav-bar-logo {
  display: inline-block;
  vertical-align: middle;
}

.logo-container {
  width: 100%;
  height: auto;
  background-color: transparent;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box {
  width: 150px;
  height: 70px;
  margin: 0 auto;
  background-size: 150px 70px;
}
