.launcher,
.launcher_opened {
  position: fixed;
  bottom: 0px;
  right: 10px;
}

.chat_window,
.chat_window_button {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-sizing: border-box;
  border-right: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  position: fixed;
  bottom: 0px;
  right: 10px;
}

.chat_window {
  width: 700px;
  height: fit-content;
  box-shadow: 0px 0px 2px 2px rgba(3, 44, 71, 0.18);
}

.chat_window_button:hover {
  cursor: pointer;
}

.chat_window_button_content {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.chat_window_header {
  width: 100%;
  height: 50px;
  /* padding-top: 8px; */
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid gray;
}

.chat_window_header > h2 {
  font-size: 0.9375rem;
  font-weight: 500;
  padding-left: 10px;
}

.chat-profile-header-container {
  margin-left: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: black;
}

.chat_window_close_button {
  align-self: flex-end;
  padding-right: 25px;
}

.chat_window_close_button:hover {
  cursor: pointer;
}

.chat_window_header_title {
  padding-left: 15px;
  padding-right: 5px;
  flex: 1;
  color: #ffa114;
}

.chat_window_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  min-height: 380px;
}

.chat_window_user {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(219, 217, 217);
}

.chat_window_container_left_box {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.chat_window_container_message_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: auto; */
}

.chat_window_container_contact_box {
  width: 29%;
}

.chat_window_container_message_box_display {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 32px;
  padding-bottom: 12px;
  height: 240px;
}

.chat_window_container_message_box_display_realestate {
  margin: 5px 5px 5px 5px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  display: flex;

  height: 80px;
}
.chat_window_container_message_box_display_realestate-wrapper {
  box-shadow: 0 5px 5px -5px #ccc;
  z-index: 100;
}

.chat_window_container_message_box_display_realestate_image {
  /* height: 80%; */
  margin: 5px 5px 5px 5px;
  width: 30%;
}

.chat_window_container_message_box_display_realestate_image > img {
  height: 100%;
  width: 100%;
}

.chat_window_container_message_box_display_realestate_info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding-left: 5px;
  width: 70%;
}

.chat_window_container_message_box_display_realestate_info_title {
  width: 190px;
  font-size: 10px;
  font-weight: 700;
}

.chat_window_container_message_box_display_realestate_info_title > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chat_window_container_message_box_display_realestate_info > p {
  font-size: 10px;
  margin: 0 0 5px;
}

.message {
  position: relative;
  font-size: 15px;
  padding: 7px 12px 8px 12px;
  border-radius: 8px;
  width: fit-content;
  margin-bottom: 20px;
  color: black;
  margin-left: 10px;
  max-width: 220px;
  word-wrap: break-word;
}

.message_send {
  margin-left: auto;
  /* display: flex;
  flex-direction: column; */
  background-color: #0c67ce;
  color: white;
  margin-right: 14px;
  font-size: 15px;
}

.message_send p {
  margin-bottom: 0px;
}

.message_name {
  position: absolute;
  top: -20px;
  /* left: px; */
  font-size: 10px;
  font-weight: bold;
  color: black;
  word-wrap: normal;
  min-width: 200px;
  text-align: right;
}

.message_name_send {
  position: absolute;
  top: -14px;
  right: 0px;
  font-size: 10px;
  font-weight: 800;
  color: black;
}

.message_name_receive {
  position: absolute;
  top: -14px;
  left: 0px;
  font-size: 10px;
  font-weight: 800;
  color: black;
  text-align: left;
}

.chat_window_container_message_box_input {
  padding: 10px 8px 0;
  height: auto;
  display: inline-block;
}

.message-input-form .button_send_message {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 8px;
  margin-left: 4px;
  height: 40px;
  width: 40px;
  display: flex;
}

.button_send_message:disabled {
  cursor: not-allowed;
}

.contact_item:hover .item_unselect {
  background-color: rgb(225, 225, 225);
}

.chat_window_container_contact_list {
  overflow-y: scroll;
  height: 100%;
  border-left: 1px solid rgb(185, 185, 185);
}

.contact_item {
  cursor: pointer;
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid rgb(219, 217, 217);
  display: flex;
  flex-direction: row;
}

.item_selected {
  background-color: rgb(219, 217, 217);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 12px;
  padding-right: 12px;
  width: 85%;
  margin: 4px auto;
  border-radius: 6px;
}

.item_unselect {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 12px;
  padding-right: 12px;
  width: 85%;
  margin: 4px auto;
  border-radius: 6px;
}

.contact-title {
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.contact-info {
  font-size: 12px;
  font-weight: 400;
  color: rgb(101, 103, 107);
  text-align: left;
}

option[value=""][disabled] {
  display: none;
}

select:required:invalid {
  color: gray;
}

option {
  color: black;
}

.chat_window_container_message_box_popup {
  background-color: white;
  border: 1px solid gray;
  position: absolute;
  z-index: 1;
  border-radius: 6px;
  padding: 8px;
  width: auto;
  height: auto;
  bottom: 22%;
  left: 13%;
  text-align: center;
}

.presentation-pic-container {
  width: 75px;
  height: 50px;
  background-color: gray;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 4px;
  /* background-image: url('https://file4.batdongsan.com.vn/crop/350x232/2021/06/13/20210613112547-abeb_wm.jpg'); */
}

.presentation-pic-container > img {
  width: 75px;
  height: 50px;
  object-fit: fill;
  background-repeat: no-repeat;
}

.send-message-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-field-container {
  width: 100%;
  background-color: #dadde2;
  height: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 25px;
  word-wrap: break-word;
}

.chat-field {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  text-decoration: none;
  margin: auto;
  font-size: 14px;
}

.chat-field:focus {
  outline: none;
  border: none;
  text-decoration: none;
}

.send-message-icon {
  width: 2px;
  height: 2px;
  /* font-size: 50px; */
}

.interact-box {
  width: 100%;
  height: auto;
  /* padding-bottom: 12px; */
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 4px;
}

.message-receive {
  background-color: #e4e6eb;
}

.deal-form {
  flex-direction: column;
  display: flex;
}

.deal-form p {
  font-size: 14px;
}

.deal-form label {
  font-size: 14px;
}

.deal-popup-form {
  padding: 10px 10px 10px 10px;
}

.deal-form-button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.deal-form-button > button {
  background-color: #0c67ce;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 40px;
  padding: 5px 3px;
}
.book-calendar-button {
  background-color: #0c67ce;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 60px;
  padding: 5px 3px;
  margin-left: 60px;
}

.chat_window_container_message_box_user {
  border-bottom: 1px solid rgb(175, 175, 175);
}

.chat_window_container_message_box_user > p {
  font-size: 16;
  font-weight: 600;
  padding-left: 20px;
}

.buyer-appointment-message-upcoming {
  display: flex;
  flex-direction: column;
}

/* .react-datepicker {

  font-size: 1.2rem !important;

}

.react-datepicker__current-month {
  font-size: 1rem !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.5rem !important;
} */

.buyer-appointment-message-upcoming > button {
  border: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 55px;
  height: 30px;
  cursor: pointer;
  margin: 0 auto;
}

.seller-deal-message {
  display: flex;
  width: auto;
}

.seller-deal-message-pending-button {
  padding-top: 5px;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  width: 150px;
}

.seller-deal-message-pending-button > button {
  border: none;
  background-color: white;
  border-radius: 5px;
  width: 60px;
  height: 20px;
  cursor: pointer;
}

.buyer-deal-message > button {
  border: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 75px;
  height: 30px;
  cursor: pointer;
  /* margin: 0 auto; */
  position: relative;
  /* top:50%;  */
  left: 24%;
}

.time-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 10px;
}

.time-select-item {
  width: 100px;
}
.time-select-item > label {
  font-weight: 400;
  font-size: 14px;
}
.bookForm {
  padding: 5px 5px 5px 5px;
}
.deal-button {
  height: 30px;
  background-color: #fcba03;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.deal-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.react-datepicker-popper {
  z-index: 160;
}

.real-item,
.real-item-selected {
  padding: 5px;
  height: 60px;
  margin: 5px 8px 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.MuiPopover-paper {
  display: block;
  overflow: visible !important;
}

.real-item-selected {
  background-color: #c0c0c0;
}

.real-item:hover,
.real-item-selected:hover {
  background-color: #c0c0c0;
}

.seller-chat-box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.real-title {
  border-bottom: 1px solid #c0c0c0;
}

.buyer-select-box {
  border-bottom: 1px solid #c0c0c0;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  height: 80px;
}

.buyer-info-selected,
.buyer-info-notselected {
  height: 60px;
  border-radius: 5px;
  margin: 2px 0px 2px 5px;
  cursor: pointer;
  width: 120px;
}

.buyer-info-selected {
  border: 1px solid #c0c0c0;
}

.buyer-info-notselected {
  background-color: white;
}

.seller-chat-box-body {
  display: flex;
  height: 100%;
  overflow: auto;
}

.seller-chat-box-body-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: 1px solid #c0c0c0;
}

.seller-chat-box-body-right {
  display: flex;
  width: 30%;
  flex-direction: column;
}

.message-input-form .textarea-input {
  resize: none !important;
  /* overflow: hidden !important; */
  /* min-height: 10px; */
  overflow-y: auto !important;
  font-size: 14px;
  height: 27px;
  border-radius: 5px;
  border: none;
  background-color: #ebebeb;
  width: auto;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  flex: 1;
}

.textarea-input:focus {
  border-radius: 5px;
  border: none;
  outline: none;
  text-decoration: none;
}

.message-input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  height: auto;
  padding: 0px 0px 5px 2px;
}

.seller-left-chat-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.buyer-info-name {
  padding-left: 5px;
  font-weight: 600;
}

.buyer-info-lastmessage {
  color: #0352fc;
  padding-left: 10px;
}

.buyer-info-deal {
  padding-left: 5px;
  font-size: 12px;
  color: #afafaf;
}

.buyer-info-lastmessage {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info-title {
  background-color: #f0f0f0;
  padding: 5px 0px 5px 10px;
  font-weight: 600;
}

.info-text {
  padding-left: 10px;
  padding-top: 10px;
}

.chat-bubble {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.chat-bubble-item {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  background-color: white;
  box-shadow: 0 10px 0px #ccc;
  cursor: pointer;
  background-color: #f0f0f0;
}

.chat-bubble-item:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  background-color: white;
  transition: all 1s;
}

.small-chat-window-title-box {
  height: auto;
  /* box-shadow: 0 0 10px #ccc; */
  padding: 5px 0px 0px 10px;
  display: flex;
  justify-content: space-between;
}

.small-chat-window-title {
  font-size: 16px;
  font-weight: 600;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #ffa114;
  max-width: 70%;
}

p {
  margin: 0 0 0px;
}

.small-chat-window-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  /* flex: 1; */
  padding-right: 5px;
}

.small-chat-window-buttons-minimize {
  cursor: pointer;
  padding-right: 5px;
}

.small-chat-window-2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0px;
  right: 90px;
  background-color: #ffffff;
  height: auto;
  width: 320px;
  border-radius: 10px 10px 0px 0px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  padding-right: 1px;
  padding-bottom: 5px;
  z-index: 80;
}

.small-chat-window-1 {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  right: 420px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 2px #777;
  height: auto;
  width: 320px;
  border-radius: 10px 10px 0px 0px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  padding-right: 1px;
  padding-bottom: 5px;
  z-index: 80;
}

.small-chat-window-buttons-close {
  cursor: pointer;
}

.chat_window_container_message_box_display_realestate_info_deal > p {
  font-size: 12px;
  margin-right: 5px;
}
.chat_window_container_message_box_display_realestate_info_deal {
  display: flex;
  flex-direction: row;
}

.chat-window-deal-button {
  background-color: #0c67ce;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
