@media only screen and (max-width: 500px) {
  .home-search-wrapper {
    width: 100%;
    padding: 10px 0;
    position: relative;
  }
  .home-search-bar {
    height: 50px;
    width: 90%;
  }
  div.home-filter-wrapper {
    width: 100%;
  }
  div.home-filter-box {
    margin: 5px;
    width: 45vw;
  }
  div.home-filter-menu {
    width: 48vw;
  }
  div.home-filter-menu-height-auto {
    width: 48vw;
  }
}
