@media only screen and (max-width:600px) {
  div.product-info-dislayed-wrapper {
    flex-direction: column;
    width: 97vw;
  }
  div.product-info-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .short-detail-container {
    flex-direction: row;
    align-items: flex-start;
  }
  .short-info-list {
    display: inline-block;
    width: 50%;
  }
  .short-info-list:last-child {
    display: block;
    width: 100%;
  }
  .short-info-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
  }
  .short-info-icon {
    width: 27px !important;
    height: 27px !important;
  }
  .short-info-label1 {
    display: inline-block;
    font-size: 14px;
  }
  .short-info-label2 {
    display: inline-block;
    font-size: 14px;
  }
  .product-detail-content {
    display: flex;
    height: 100vh;
  }
  .contact-wrapper {
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    display: block;
    width: 100vw;
    background: #FFF;
  }
  .contact-wrapper>div {
    display: none;
  }
  .contact-wrapper .contact-button {
    display: block;
    width: 90vw;
    margin: 5px auto;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 1.1em;
  }
}

* {
  /* border: 1px solid red; */
}
