@media only screen and (max-width:500px) {
  .transaction-history-container {
    width: 100%;
    margin: auto;
    padding: 5px;
  }
  .history-container {
    width: max-content;
  }
  .transaction-history-container>.grid-header {
    padding: 10px 0;
  }
  .transaction-history-container>.grid-item{
    padding:5px 0;
  }
}