/* -----new edit----- */

.user-fullname {
  display: none;
  width: 100%;
  height: 60px;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  border-bottom: 1px solid;
}


/* -----end new edit---- */

.nav-bar-wrapper {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-wrapper>.nav-bar-container {
  display: flex;
  flex: 1;
}

.nav-bar-container>.nav-bar-item {
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.nav-bar-container>.nav-bar-item:first-child {
  margin-left: 10%;
}

.nav-bar-container>.nav-bar-item:last-child {
  margin-right: 10%;
}

.nav-bar-item>.nav-bar-item-hidden {
  position: absolute;
  width: 100%;
}

.nav-bar-item>.nav-bar-item-hidden::content {
  width: 400px;
  position: absolute;
  right: 8%;
  margin-top: 10px;
}

.nav-bar-item>.nav-bar-item-info {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nav-bar-item-info>div {
  margin-left: 20px;
  cursor: pointer;
}

.nav-bar-item .nav-bar-logo {
  width: 200px;
  height: 50px;
  /* object-fit: cover; */
  background-color: white;
  cursor: pointer;
  /* background-image: url('https://i.ibb.co/MhLF1VS/abc.png'); */
}

.nav-bar-logo img {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

.nav-bar-item-horizontal {
  cursor: pointer;
}

.nav-bar-item-horizontal>.nav-bar-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.profile-pic {
  width: 50px;
  height: 50px;
  background-color: gray;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin-left: 10px;
  background-size: 50px 50px;
}

.profile-name-text {
  font-size: 14px;
  padding-left: 8px;
}

.nav-bar-item .nav-bar-item-text {
  font-size: 14px;
  text-align: center;
}

.profile-menu-container {
  width: 200px;
  background-color: white;
  position: absolute;
  right: 0;
  border-radius: 6px;
  border: 1px solid rgb(190, 190, 190);
  padding: 0;
  z-index: 100;
}

.profile-menu-container>.profile-menu-item {
  width: 100%;
  height: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile-menu-container>.profile-menu-item:hover {
  background-color: #d8dadf;
  cursor: pointer;
}

.profile-menu-container>.profile-menu-item>.icon {
  color: black;
  /* padding-left: 12px; */
  margin-left: 12px;
  width: "30px";
  height: "30px";
}

.profile-menu-container>.profile-menu-item .title {
  padding-left: 12px;
  font-size: 16px;
  text-align: left;
  color: black;
}

.profile-menu-container>.divide {
  width: 100%;
  height: 1px;
  background-color: rgb(190, 190, 190);
  padding: 0;
  margin: 0;
}

.notification-container {
  width: 360px;
  z-index: 100;
  max-height: 80vh;
  background-color: white;
  position: relative;
  border-radius: 6px;
  border: 1px solid rgb(190, 190, 190);
  right: 0px;
  padding: 0;
  overflow-y: auto;
  padding: 0px 5px 10px 5px;
}

.notification-item {
  width: 95%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 10px;
  padding-left: 10px;
}

.notification-item-left {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.notification-item:hover {
  background-color: #d8dadf;
  cursor: pointer;
}

.notification-time-text {
  font-size: 10px;
  color: #3858fc;
}

.notification-time-text-seen {
  font-size: 10px;
  color: #ccc;
}

.notification-title-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
}

.notification-item-right {
  align-self: center;
  padding-right: 5px;
}

.seen-dot {
  background-color: #3858fc;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.conversation-list {
  overflow-y: auto;
  max-height: 80vh;
}

.conversation-item {
  width: 95%;
  height: 60px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
  border-radius: 5px;
  padding-left: 10px;
}

.conversation-item:hover {
  cursor: pointer;
  background-color: #d8dadf;
}

.conversation-item-image {
  max-width: 80px;
  display: flex;
  margin: 5px 5px 5px 5px;
}

.conversation-item-image>img {
  height: 100%;
  width: auto;
  border-radius: 5px;
}

.conversation-item-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 5px 0px 0px 10px;
}

.conversation-item-info-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.conversation-item-info-lastmessage-seen {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #ccc;
}

.conversation-item-info-lastmessage {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #4784ff;
}
